*~
*.sw?
*.pdf
*.aux
*.log
*.toc
*.lof
*.lox
*.tmp
*.blg
*.idx
*.ilg
*.ind
*.thm
*.ist
*.ilg
*.nlo
*.nls
*.tps
*.tiw
*.tcp
*.out
*.fls
*.ind
*.xsim
*.bbl
*.acn
*.gl*
*.xdy
LaTexDateien/PhysikUncut.fdb_latexmk
LaTexDateien/AW_Korrektur_aktuellerStand.txt
*.docx
*.zip
*.jpg
*.png
*.ai
*.jar
Shared
Preface
preface
#Arbeitsordner
LaTexDateien/*/*.bak
LaTexDateien/bew/*HC.tex
LaTexDateien/Textbausteine.tex
LaTexDateien/hm/beispiele.tex
LaTexDateien/hm/didak*
LaTexDateien/hm/spphys.bst
LaTexDateien/hm/svmono.cls
LaTexDateien/referenzen.bib.bak
LaTexDateien/solman/Min*
LaTexDateien/solman/Tab*
LaTexDateien/spbasic.bst
LaTexDateien/spmpsci.bst
Spri*

*.sh
*.asv
!MatlabDateien/SuchenErsetzen.sh
!LaTexDateien/SuchenErsetzen.sh
LaTexDateien/tmp
!MacCompile_FingerUeb5_WB.sh
.DS_Store
